<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.example.boardStudy.vo.UserVO" alias="UserVO"/>
  </typeAliases>
  <mappers>
<!--    <mapper resource="/sqlmap/mapper/web-mapper.xml" />-->
    <mapper resource="/mappers/UserMapper" />
    <mapper resource="/resourcesSQL/sqlmap/mapper/UserMapper-sql.xml" />
  </mappers>

</configuration>