<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
<!--    <typeAlias type="com.example.boardStudy.vo.LoginVO" alias="UserVO"/>-->
<!--    <typeAlias type="com.example.boardStudy.vo.PostVO" alias="PostVO"/>-->

    <typeAlias type="com.study.boardStudy.dao.admin.SignupDAO" alias="SignupDAO" />
<!--    <typeAlias type="com.example.boardStudy.dao.admin.BoardDAO" alias="BoardDao" />-->
  </typeAliases>
  <mappers>
    <mapper resource="sqlmap/mapper/UserMapper.xml" />
  </mappers>

</configuration>