<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
<!--    <typeAlias type="com.example.boardStudy.vo.LoginVO" alias="UserVO"/>-->
<!--    <typeAlias type="com.example.boardStudy.vo.PostVO" alias="PostVO"/>-->

    <typeAlias type="com.study.boardStudy.dao.admin.UserDAO" alias="UserDAO" />
    <typeAlias type="com.study.boardStudy.dao.admin.BoardDAO" alias="BoardDAO" />
  </typeAliases>
  <mappers>
    <mapper resource="sqlmap/mapper/UserMapper.xml" />
    <mapper resource="sqlmap/mapper/BoardMapper.xml" />
  </mappers>

</configuration>