<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.boardStudy.dao.admin.PostDAO">

  <!-- 게시물 등록	-->
  <insert id="postInsert" parameterType="com.study.boardStudy.dto.ContentDTO">
    <![CDATA[
    INSERT INTO content_post (TITLE, CONTENT)
    VALUES (#{title}, #{content});
    ]]>
  </insert>

  <select id="contentSelect" resultType="com.study.boardStudy.vo.ContentVO">
    <![CDATA[
    SELECT M.ID      AS USERID,
           P.SEQ     AS SEQ,
           P.TITLE   AS TITLE,
           P.CONTENT AS CONTENT
    FROM MEMBERS M
           INNER JOIN CONTENT_POST P
                      ON M.SEQ = P.MEMBER_SEQ
    WHERE M.ID = #{userId};
    ]]>
  </select>

  <select id="findSelect" parameterType="string" resultType="com.study.boardStudy.vo.ContentVO">
    <![CDATA[
        SELECT *
        FROM content_post
    ]]>
    <where>
      <if test="title != null and title != ''">
        AND TITLE LIKE CONCAT('%',#{title},'%')
      </if>
    </where>
    <![CDATA[
        ORDER BY SEQ DESC
        ;
    ]]>
  </select>

</mapper>
